Repository rcgsheffield/sheffield_hpc, pull requests merged in 2021-02, with the labels that each got.

#1021 Use Sphinx RTD theme?
  _static/css/custom.css
  conf.py
  requirements.txt
  themes/sheffieldhpc/layout.html
  themes/sheffieldhpc/navbar.html
  themes/sheffieldhpc/softwaretoc.html
  themes/sheffieldhpc/static/img/crest-l.gif
  themes/sheffieldhpc/static/img/forkme.png
  themes/sheffieldhpc/static/img/pdf_icon.png
  themes/sheffieldhpc/static/sheffieldhpc.css
  themes/sheffieldhpc/theme.conf
Labels: Discussion, proposal

#1084 flock now enabled by default on all Lustre clients
  bessemer/software/libs/cuda.rst
  hpc/filestore.rst
  sharc/software/libs/cuda.rst
Labels: Bessemer, Documentation Error, ShARC

#1146 Cleared up and confusion of threads and cores.
  parallel/SMP.rst
Labels: Documentation Error, ShARC

#1117 VASP documentation updated for version 5.4.4
  bessemer/software/apps/vasp.rst
  bessemer/software/modulefiles/VASP/5.4.4/5.4.4-intel-2019b
Labels: Bessemer

#1131 Adding a nice cheat sheet
  bessemer/software/apps/phoronix.rst
  sharc/software/apps/phoronix-test-suite.rst
Labels: Bessemer, Enhancement, ShARC

#1129 Sharc idl correction
  sharc/software/apps/idl.rst
  sharc/software/modulefiles/apps/idl/8.8/binary
Labels: Documentation Error, Enhancement, ShARC

#1148 ABAQUS update for filelocking removal and adding check pointing
  bessemer/software/apps/abaqus.rst
  sharc/software/apps/abaqus.rst
Labels: Bessemer, Documentation Error, Enhancement, ShARC

#1152 Rewording SLURM_GTIDS warning.
  bessemer/software/apps/abaqus.rst
Labels: Bessemer, Enhancement

#1116 Update to add R 4.0.0
  bessemer/software/apps/R.rst
Labels: Bessemer

#1130 ShARC R GCC (not Intel) documentation update for R 4.0.0.
  sharc/software/apps/R.rst
  sharc/software/install_scripts/apps/R/4.0.0/gcc-10.1.0/install-R4.0-gcc-10.1.0.sh
  sharc/software/install_scripts/apps/R/4.0.0/gcc-8.2.0/install-R4.0-gcc-8.2.0.sh
  sharc/software/install_scripts/apps/tcl/install_tcl.sh
  sharc/software/install_scripts/apps/tk/install_tk.sh
  sharc/software/install_scripts/libs/pcre/install_pcre.sh
  sharc/software/install_scripts/libs/pcre2/install_pcre2.sh
  sharc/software/modulefiles/apps/R/4.0.0/gcc-10.1.0
  sharc/software/modulefiles/apps/R/4.0.0/gcc-8.2.0
  sharc/software/modulefiles/apps/tcl/8.6.10/gcc-10.1
  sharc/software/modulefiles/apps/tcl/8.6.10/gcc-8.2.0
  sharc/software/modulefiles/apps/tk/8.6.10/gcc-10.1
  sharc/software/modulefiles/apps/tk/8.6.10/gcc-8.2.0
  sharc/software/modulefiles/libs/pcre2/10.36/gcc-10.1
  sharc/software/modulefiles/libs/pcre2/10.36/gcc-8.2.0
Labels: Enhancement, ShARC, Software Request

#1158 Bedtools docs initial commit.
  bessemer/software/apps/bedtools.rst
  bessemer/software/modulefiles/BEDTools/2.29.2-GCC-9.3.0
  sharc/software/apps/bedtools.rst
  sharc/software/install_scripts/apps/bedtools/2.30.0/gcc-8.2-cmake-3.17.1/install_bedtools.sh
Labels: Bessemer, ShARC, Software Request

#1155 OpenFOAM initial docs commit for Bessemer
  bessemer/software/apps/openfoam.rst
  bessemer/software/modulefiles/OpenFOAM/8-foss-2020a
  bessemer/software/modulefiles/OpenFOAM/test_OpenFOAM_parallel.sbatch
Labels: Bessemer, Software Request

#1162 Initial commit adding docs for Qt5 on ShARC
  sharc/software/apps/Qt5.rst
  sharc/software/install_scripts/apps/Qt5/5.14/install_Qt5.sge
  sharc/software/modulefiles/apps/Qt5/5.14/gcc-8.2-cmake-3.17.1
Labels: ShARC, Software Request
