Repository rcgsheffield/sheffield_hpc, pull requests merged in 2021-09, with the labels that each got.

#1258 ANSYS 21.2 Added - docs update
  bessemer/software/apps/ansys/bessemer-sidebar.rst
  bessemer/software/apps/ansys/index.rst
  bessemer/software/apps/ansys/module-load-list.rst
  bessemer/software/modulefiles/ansys/21.1/binary
  bessemer/software/modulefiles/ansys/21.2/binary
  sharc/software/apps/ansys/index.rst
  sharc/software/apps/ansys/module-load-list.rst
  sharc/software/apps/ansys/sharc-sidebar.rst
  sharc/software/modulefiles/apps/ansys/21.1/binary
  sharc/software/modulefiles/apps/ansys/21.2/binary
Labels: Enhancement, Software Request, Bessemer, ShARC

#1259 GDAL-3.X.X-updates for ShARC
  sharc/software/install_scripts/libs/gdal/install_gdal.sh
  sharc/software/libs/gdal.rst
Labels: Enhancement, Software Request, ShARC

#1260 MPI-version-fix-and-rewording
  sharc/software/apps/ansys/mechanical.rst
  sharc/software/apps/ansys/module-load-list.rst
Labels: Documentation Error, Enhancement, ShARC

#1262 Fix-setuptools-version-to-fix-RTD-build
  requirements.txt
Labels: Documentation Error, dependencies

#1266 Create dependabot.yml
  .github/dependabot.yml
Labels: Enhancement, proposal

#1272 Implement .readthedocs.yaml fix for RTD build process.
  .readthedocs.yaml
  README.rst
  setuptoolsrequirements.txt
Labels: build bug, Documentation Error, dependencies

#1264 Add tox support and GHA workflow that uses it
  .github/workflows/link-check.yml
  .github/workflows/pull-request.yml
  .gitignore
  README.rst
  conf.py
  pyproject.toml
  tox.ini
Labels: Enhancement, proposal

#1274 GDAL additional driver support + docs
  sharc/software/install_scripts/libs/gdal/install_gdal.sh
  sharc/software/libs/gdal.rst
Labels: Enhancement, Software Request, ShARC

#1303 Initial-page for Intel MPI
  bessemer/software/parallel/impi.rst
  sharc/software/modulefiles/mpi/impi/2018.5.288/binary
  sharc/software/modulefiles/mpi/impi/2019.9.304/binary
  sharc/software/parallel/intelmpi.rst
Labels: Enhancement, Software Request, ShARC

#1306 Correcting nested use of srun on Bess Openfoam
  bessemer/software/apps/openfoam.rst
Labels: Documentation Error, Bessemer

#1310 Fix-various-intro-wording-and-titles-in-reference-info-section
  referenceinfo/ANSYS/fluent/index.rst
  referenceinfo/ANSYS/index.rst
  referenceinfo/index.rst
  referenceinfo/scheduler/SGE/Common-commands/index.rst
  referenceinfo/scheduler/SGE/index.rst
  referenceinfo/scheduler/SLURM/Common-commands/index.rst
  referenceinfo/scheduler/SLURM/index.rst
  referenceinfo/scheduler/index.rst
Labels: Documentation Error, Enhancement, Formatting
