Repository rcgsheffield/sheffield_hpc, pull requests merged in 2022-05, with the labels that each got.

#1485 Update NetLogo.rst
  bessemer/software/apps/NetLogo.rst
Labels: Bessemer

#1488 Amendment of Windows line ending error signposting
  hpc/scheduler/index.rst
Labels: Enhancement

#1478 Computer-architecture-reference-info
  _static/css/custom.css
  hpc/installing-software.rst
  hpc/scheduler/index.rst
  referenceinfo/computer-architecture/index.rst
  referenceinfo/computer-architecture/quick-start.rst
  referenceinfo/imports/computer-architecture/CPU-microarchitecture.rst
  referenceinfo/imports/computer-architecture/core.rst
  referenceinfo/imports/computer-architecture/cpu-cache.rst
  referenceinfo/imports/computer-architecture/cpu-socket.rst
  referenceinfo/imports/computer-architecture/cpu.rst
  referenceinfo/imports/computer-architecture/gpu.rst
  referenceinfo/imports/computer-architecture/instruction-sets.rst
  referenceinfo/imports/computer-architecture/memory-bus.rst
  referenceinfo/imports/computer-architecture/memory-slot.rst
  referenceinfo/imports/computer-architecture/memory.rst
  referenceinfo/imports/computer-architecture/motherboard.rst
  referenceinfo/imports/computer-architecture/pcie-bus.rst
  referenceinfo/imports/computer-architecture/pcie-slot.rst
  referenceinfo/imports/computer-architecture/system-buses.rst
  referenceinfo/imports/computer-architecture/threads-hyperthreading.rst
  referenceinfo/imports/computer-architecture/virtual-memory.rst
  referenceinfo/index.rst
Labels: Enhancement, Discussion, proposal

#1495 Add info on temporary A100 GPU nodes in Bessemer
  bessemer/GPUComputingBessemer.rst
  bessemer/groupnodes/dcs-acad-gpu-nodes.rst
  bessemer/software/libs/cuda.rst
Labels: Enhancement, Bessemer

#1498 Adding help topics and correction of anagram.
  bessemer/software/apps/ansys/fluent.rst
  bessemer/software/apps/ansys/index.rst
  bessemer/software/apps/ansys/ls-dyna.rst
  bessemer/software/apps/ansys/mechanical.rst
  sharc/software/apps/ansys/fluent.rst
  sharc/software/apps/ansys/index.rst
  sharc/software/apps/ansys/ls-dyna.rst
  sharc/software/apps/ansys/mechanical.rst
Labels: Enhancement, Bessemer, ShARC

#1493 Further refinement to /scratch section and flowchart updates.
  hpc/Sheffield HPC Cluster Storage Selection decision tree.drawio.xml
  hpc/filestore.rst
Labels: Enhancement, Bessemer, ShARC
