Repository rcgsheffield/sheffield_hpc, pull requests merged in 2023-04, with the labels that each got.

#1673 Nikis Stanage docs
  stanagepilot/software/apps/gmp.rst
  stanagepilot/software/apps/index.rst
  stanagepilot/software/apps/python.rst
  stanagepilot/software/libs/index.rst
  stanagepilot/software/libs/libsndfile.rst
  stanagepilot/software/libs/libunistring.rst
  stanagepilot/software/libs/udunits.rst
Labels: Enhancement, Stanage

#1680 Update Stanage OpenMPI warning.
  stanagepilot/stanage-FAQ-gotchas.rst
Labels: Documentation Error, Enhancement

#1681 Add Java docs
  stanagepilot/software/apps/java.rst
Labels: Stanage

#1659 Stanage: add docs for dev tooling
  bessemer/software/development/toolchains.rst
  referenceinfo/imports/stanage/openmpi_4.1.1_import.rst
  stanagepilot/software/development/cmake.rst
  stanagepilot/software/development/doxygen.rst
  stanagepilot/software/development/gcc.rst
  stanagepilot/software/development/git.rst
  stanagepilot/software/development/icc_ifort.rst
  stanagepilot/software/development/index.rst
  stanagepilot/software/development/toolchains.rst
  stanagepilot/software/libs/blas.rst
  stanagepilot/software/libs/fftw.rst
  stanagepilot/software/libs/gdal.rst
  stanagepilot/software/libs/geos.rst
  stanagepilot/software/libs/hdf5.rst
  stanagepilot/software/libs/imkl.rst
  stanagepilot/software/libs/index.rst
  stanagepilot/software/libs/openblas.rst
  stanagepilot/software/libs/scalapack.rst
  stanagepilot/software/parallel/impi.rst
  stanagepilot/software/parallel/index.rst
  stanagepilot/software/parallel/openmpi.rst
Labels: Enhancement, Stanage

#1670 Stanage: initial GPU, CUDA and cuDNN docs (for A100 nodes)
  _static/css/custom.css
  stanagepilot/gpu-computing.rst
  stanagepilot/index.rst
  stanagepilot/software/apps/index.rst
  stanagepilot/software/development/index.rst
  stanagepilot/software/development/nvidia_compiler.rst
  stanagepilot/software/index.rst
  stanagepilot/software/libs/cuda.rst
  stanagepilot/software/libs/cudnn.rst
  stanagepilot/stanage-specs.rst
Labels: Enhancement, Stanage

#1689 1686 placement of include functionality causing erroneous pages
  README.rst
  bessemer/software/apps/ansys/bessemer-sidebar.rst
  bessemer/software/apps/ansys/fluent.rst
  bessemer/software/apps/ansys/index.rst
  bessemer/software/apps/ansys/ls-dyna.rst
  bessemer/software/apps/ansys/mechanical.rst
  referenceinfo/imports/software/ansys/bessemer-sidebar.rst
  referenceinfo/imports/software/ansys/module-load-list-bessemer.rst
  referenceinfo/imports/software/ansys/module-load-list-sharc.rst
  referenceinfo/imports/software/ansys/module-load-list-stanage.rst
  referenceinfo/imports/software/ansys/sharc-sidebar.rst
  referenceinfo/imports/software/ansys/stanage-sidebar.rst
  sharc/software/apps/ansys/fluent.rst
  sharc/software/apps/ansys/index.rst
  sharc/software/apps/ansys/ls-dyna.rst
  sharc/software/apps/ansys/mechanical.rst
  stanagepilot/software/apps/ansys/fluent.rst
  stanagepilot/software/apps/ansys/index.rst
  stanagepilot/software/apps/ansys/stanage-sidebar.rst
Labels: build bug

#1692 Update available versions on Stanage:cuDNN,CUDA
  stanagepilot/software/libs/cuda.rst
  stanagepilot/software/libs/cudnn.rst
Labels: Documentation Error, Enhancement, Stanage

#1679 Nikis stannage docs
  stanagepilot/software/libs/libsndfile.rst
  stanagepilot/software/libs/libunistring.rst
  stanagepilot/software/libs/udunits.rst
Labels: Stanage

#1698 Stanage TOTP MFA update.
  images/mfa/duo_mfa-screenshot_1.png
  images/mfa/google_authenticator.jpg
  images/mfa/totp_console_qr_code_mfa-screenshot_1.png
  referenceinfo/imports/mfa/setup-stanage-totp.rst
  referenceinfo/imports/mfa/what-is-totp.rst
  referenceinfo/imports/stanage/ssh-host-keys.rst
  referenceinfo/index.rst
  referenceinfo/mfa/index.rst
  referenceinfo/mfa/what-is-totp.rst
  stanagepilot/stanage-FAQ-gotchas.rst
  stanagepilot/stanage-connecting-ssh.rst
Labels: Enhancement, Stanage

#1699 Improve Stanage TOTP info clarity.
  stanagepilot/stanage-connecting-ssh.rst
Labels: Documentation Error, Enhancement

#1701 Update Stanage shared area info.
  hpc/filestore.rst
  referenceinfo/imports/filestores/shared-areas/permissions-behaviour.rst
  referenceinfo/imports/filestores/shared-areas/recovering-from-snapshots.rst
  referenceinfo/imports/filestores/shared-areas/shared-area-general-info.rst
  referenceinfo/imports/filestores/shared-areas/snapshotting-mirrors.rst
  stanagepilot/stanage-filestores.rst
Labels: Enhancement, Stanage

#1704 Stanage Pytorch docs
  stanagepilot/software/apps/pytorch.rst
Labels: Stanage

#1733 Add .. _submit_job_stanage: label
  stanagepilot/stanage-job-submission.rst
Labels: Enhancement, Stanage

#1726 1717 stanage going live move bulk of pages info into correct stanage tree
  index.rst
  stanage/GPUComputingStanage.rst
  stanage/cluster_specs.rst
  stanage/index.rst
  stanage/slurm.rst
  stanage/software/apps/R.rst
  stanage/software/apps/abaqus.rst
  stanage/software/apps/ansys/fluent.rst
  stanage/software/apps/ansys/index.rst
  stanage/software/apps/gmp.rst
  stanage/software/apps/index.rst
  stanage/software/apps/java.rst
  stanage/software/apps/mathematica.rst
  stanage/software/apps/ncdu.rst
  stanage/software/apps/openfoam.rst
  stanage/software/apps/python.rst
  stanage/software/apps/pytorch.rst
  stanage/software/apps/vasp.rst
  stanage/software/apps/xvfb.rst
  stanage/software/development/cmake.rst
  stanage/software/development/doxygen.rst
  stanage/software/development/gcc.rst
  stanage/software/development/git.rst
  stanage/software/development/icc_ifort.rst
  stanage/software/development/index.rst
  stanage/software/development/nvidia_compiler.rst
  stanage/software/development/toolchains.rst
  stanage/software/index.rst
  stanage/software/libs/blas.rst
  stanage/software/libs/boost.rst
  stanage/software/libs/cfitsio.rst
  stanage/software/libs/cuda.rst
  stanage/software/libs/cudnn.rst
  stanage/software/libs/fftw.rst
  stanage/software/libs/gdal.rst
  stanage/software/libs/geos.rst
  stanage/software/libs/hdf5.rst
  stanage/software/libs/imkl.rst
  stanage/software/libs/index.rst
  stanage/software/libs/libsndfile.rst
  stanage/software/libs/libunistring.rst
  stanage/software/libs/openblas.rst
  stanage/software/libs/proj.rst
  stanage/software/libs/scalapack.rst
  stanage/software/libs/udunits.rst
  stanage/software/modulefiles/abaqus/2021/2021.lua
  stanage/software/modulefiles/anaconda3/2022.10/2022.10.lua
  stanage/software/modulefiles/ansys/22.2/2022R2.lua
  stanage/software/modulefiles/ncdu/1.15.1-GCCcore-9.3.0.lua
  stanage/software/modulefiles/xvfb/1.20.9/1.20.9-GCCcore-10.2.0.lua
  stanage/software/parallel/impi.rst
  stanage/software/parallel/index.rst
  stanage/software/parallel/openmpi.rst
  stanagepilot/index.rst
  stanagepilot/software/apps/.gitkeep
Labels: Enhancement, Stanage

#1725 Stanage going live, update: HPC gateway page
  hpc/hpcgateway.rst
Labels: Enhancement, Stanage

#1728 Stanage update activating modules
  hpc/modules.rst
Labels: Enhancement, Stanage

#1718 Update 'Connecting to a cluster with SSH' info for Stanage go live.
  hpc/connecting.rst
  stanage/index.rst
  stanage/stanage-mfa-setup.rst
Labels: Enhancement, Stanage

#1727 1715 stanage going live update choosing appropriate compute resources
  hpc/Choosing-appropriate-resources.rst
  referenceinfo/imports/scheduler/cpu_allocation_limits_table_import.rst
  referenceinfo/imports/scheduler/memory_allocation_limits_table_import.rst
  referenceinfo/imports/scheduler/memory_used_commands.rst
  referenceinfo/imports/scheduler/time_allocation_limits_table_import.rst
  referenceinfo/scheduler/ListingQueues.rst
  referenceinfo/scheduler/SGE/sge_parallel_environments.rst
Labels: Enhancement, Stanage

#1723 Stanage gromacs docs
  stanage/software/apps/gromacs.rst
Labels: Software Request, Stanage

#1731 Stanage going live, update: Job Submission and Control
  hpc/scheduler/index.rst
  stanagepilot/stanage-job-submission.rst
Labels: Enhancement, Stanage

#1739 Add Stanage to homepage
  index.rst
Labels: Enhancement, Stanage

#1742 Add info on installation of software with dependent modules.
  hpc/index.rst
  hpc/modules.rst
  sharc/software/index.rst
Labels: Enhancement

#1744 Java on Stanage: update to docs to reflect all installed versions
  sharc/software/apps/java.rst
Labels: Documentation Error, Enhancement

#1747 Restore -gu argument for Fluent on Stanage.
  stanage/software/apps/ansys/fluent.rst
Labels: Documentation Error

#1748 Various punctuation / spelling corrections.
  bessemer/cluster_specs.rst
  referenceinfo/imports/stanage/R650_spec.rst
  sharc/cluster_specs.rst
  stanage/cluster_specs.rst
  stanage/index.rst
Labels: Documentation Error, Formatting

#1746 Add SoX docs
  stanage/software/apps/sox.rst
Labels: Enhancement, Stanage

#1743 Amend stanage /scratch info.
  hpc/filestore.rst
Labels: Enhancement, Stanage

#1749 Correct SSH policy intro sentence.
  hpc/connecting.rst
Labels: Documentation Error, Enhancement

#1751 Stanage RAM corrections.
  hpc/Choosing-appropriate-resources.rst
  referenceinfo/imports/scheduler/memory_allocation_limits_table_import.rst
  referenceinfo/scheduler/SGE/sge_parallel_environments.rst
Labels: Documentation Error, Enhancement, Stanage

#1750 Change tab order
  FAQs.rst
  hpc/connecting.rst
  hpc/filestore.rst
  hpc/hpcgateway.rst
  referenceinfo/imports/filestores/shared-areas/recovering-from-snapshots.rst
Labels: Enhancement, Bessemer, ShARC, Stanage

#1706 Update myApps info for Stanage go live.
  hpc/connecting.rst
Labels: Enhancement, Stanage

#1724 Stanage going live, update: MFA Tips page example
  hpc/mfa.rst
Labels: Enhancement, Stanage

#1735 Update cluster descriptions.
  bessemer/index.rst
  sharc/index.rst
  stanage/index.rst
Labels: Enhancement, Stanage

#1758 Stanage Pilot FAQ shift and tidy up.
  hpc/filestore.rst
  index.rst
  stanage/GPUComputingStanage.rst
  stanage/index.rst
  stanage/stanage-FAQ-gotchas.rst
  stanagepilot/index.rst
  stanagepilot/intro.rst
  stanagepilot/software/apps/.gitkeep
  stanagepilot/stanage-FAQ-gotchas.rst
  stanagepilot/stanage-connecting-ssh.rst
  stanagepilot/stanage-file-transfers.rst
  stanagepilot/stanage-filestores.rst
  stanagepilot/stanage-job-submission.rst
Labels: Enhancement, Stanage

#1760 Add Nextflow docs - Stanage
  stanage/software/apps/nextflow.rst
Labels: Enhancement, Stanage
