Repository rcgsheffield/sheffield_hpc, pull requests merged in 2024-06, with the labels that each got.

#2130 Fixing merge conflicts of #2107
  FAQs.rst
  bessemer/software/apps/python.rst
  referenceinfo/imports/software/python/conda_in_fastdata.rst
  stanage/software/apps/python.rst
Labels: Enhancement, Bessemer, Stanage, python

#2143 Add Bessemer maintenance warning page.
  global.rst
  newsletter/bessemer-maintenance-27-06-2024.rst
  newsletter/index.rst
Labels: Bessemer

#2142 Update Stanage libsndfile command
  stanage/software/libs/libsndfile.rst
Labels: Documentation Error
